<html>

<head>
    <title>Company Dashboard</title>
    <link rel = "stylesheet" href = "static\styles.css">
</head>

<body>
<h1> Add a new post</h1><br>
<form action = "new_posts.html" method = "POST">
<label> Problem Heading</label>
<textarea name = "title" rows="2" cols="50" placeholder = "Enter problem heading here. "></textarea><br>
<label> Problem Description</label>
<textarea name = "content" rows="10" cols="50" placeholder = "Enter problem description here. "></textarea><br>
<label> Email ID</label>
<textarea name = "email" rows="2" cols="50" placeholder = "Enter your email ID here. "></textarea><br>
<button>Submit</button>
</form>
</body>